{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
<style>
    			
    .payment-container {
        width: 80%;
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .payment-container h1 {
        color: #333;
        margin-bottom: 20px;
    }

    .payment-container h2 {
        color: #007bff;
        margin-bottom: 20px;
    }

    .payment-container ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
    }

    .payment-container li {
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

    .payment-container form {
        margin-top: 20px;
    }

    .payment-container button[type="submit"] {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .payment-container button[type="submit"]:hover {
        background-color: #218838;
    }

    .payment-container p {
        color: #777;
    }

                        
    /* ... (estilos CSS) */
</style>

<h1>Selecciona el Método de Pago</h1>

<h2>Tu Compra:</h2>
<ul>
    {% for item in items %}
        <li>{{ item.giftcard.name }} - {{ item.price.amount }} USD</li>
    {% endfor %}
</ul>
<p>Total: {{ items|sum_property:"price.amount" }} USD / {{ items|sum_property:"price.amount"|multiply:tasa_cambio }} Bs.</p>

<form method="post" action="{% url 'metodo_pago' 'c2p' %}">
    {% csrf_token %}
    <h2>Pago C2P</h2>
    {{ pago_c2p_form.as_p }}
    <button type="submit">Pagar con C2P</button>
</form>

{% endblock %}