<!-- templates/productos/seleccion_metodo.html -->
{% extends "base.html" %}
{% block content %}
<h1 class="giftcard-det">Seleccionar Método de Pago</h1>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label for="metodo">Método de Pago:</label>
    <select name="metodo" id="metodo" required>
        <option value="ficticio">Ficticio</option>  </select>
        <option value="paypal">PayPal</option>
        <option value="tarjeta">Tarjeta de Crédito/Débito</option>
        <option value="transferencia">Transferencia Bancaria</option>
    </select>
    <button type="submit">Continuar</button>
</form>
{% endblock %}
