{% extends 'base.html' %}

{% block content %}
<div class="juego-container">
    <h2 class="elegantshadow">Recarga Directa</h2>
    <div class="juego-list">
        {% for juego in juegos %}
        <div class="juego-list">
            <div class="card mb-4">
                <img src="{{ juego.imagen.url }}" class="juego-item" alt="{{ juego.nombre }}">
                <div>
                    <h5 class="card-title">{{ juego.nombre }}</h5>
                    <a href="{% url 'detalles_juego' juego.id %}" class="custom-btn btn-6">Recargar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
